# ðŸš€ Getting Started: Oracle Exadata â†’ Apache Spark

Este notebook te guÃ­a a travÃ©s de tu primera migraciÃ³n de SQL Oracle a Spark.

**Objetivos**:
1. Generar datos de prueba
2. Ejecutar query Oracle (comentado)
3. Comparar 3 enfoques Spark: SQL, PySpark DataFrame
4. Validar resultados

**Prerequisitos**:
- PySpark 3.5+ instalado
- Jupyter notebook o Databricks
- 10 minutos de tu tiempo